plugins:
  - serverless-esbuild

custom:
  secrets: ${file(./config/${opt:stage, 'dev'}.json)}

service: ${self:custom.secrets.service.name}

frameworkVersion: "3"

provider:
  name: ${self:custom.secrets.provider.name}
  runtime: ${self:custom.secrets.provider.runtime}
  stage: ${self:custom.secrets.provider.stage, 'dev'}
  region: ${self:custom.secrets.provider.region}
  environment:
    STAGE: ${self:provider.stage}
    REGION: ${self:provider.region}
    BOT_NAME: ${self:custom.secrets.provider.environment.BOT_NAME}-${self:provider.stage}
    TELEGRAM_SEND_MESSAGE_URL: ${self:custom.secrets.provider.environment.TELEGRAM_SEND_MESSAGE_URL}
    CLIENT_ID: ${self:custom.secrets.provider.environment.CLIENT_ID}
    CLIENT_SECRET: ${self:custom.secrets.provider.environment.CLIENT_SECRET}
    MONGO_USER: ${self:custom.secrets.provider.environment.MONGO_USER}
    MONGO_PASSWORD: ${self:custom.secrets.provider.environment.MONGO_PASSWORD}
    MONGO_HOST: ${self:custom.secrets.provider.environment.MONGO_HOST}
    MONGO_DATABASE: ${self:custom.secrets.provider.environment.MONGO_DATABASE}

functions:
  qr: ${file(./src/functions/qr/function.yml)}
  qrUpdate: ${file(./src/functions/qr_update/function.yml)}
